<nav class="col">
  <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="contact">Contactos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="listareas">Lista Tareas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
      </li>
  </ul>
</nav>